DB_HOST= # host de conexion de la base de datos | localhost
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_MAX_CONNECTIONS=
DB_IDLE_TIMEOUT=
DB_CONNECTION_TIMEOUT=

SERVER_PORT= # puerto de conexion del servidor | 3000